@model IEnumerable<TwitterDemo.Models.Article>

@{
    ViewBag.Title = "Thread";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thread</h2>

@foreach (var article in Model)
{
    <label>@Html.DisplayFor(m=>article)</label>
}