@model IEnumerable<TwitterDemo.Models.Article>

@{
	ViewBag.Title = "Thread";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thread</h2>

<form action="Thread" method="post">
	<div>
		<div>
			<textarea name="contents" rows="4" cols="40">投稿</textarea>
		</div>
		<div>
			<input type="submit" name="contents" id="contents" value="投稿" />
		</div>
	</div>
</form>
<div>
	<table>
		<tbody>
			@foreach (var article in Model)
			{
				<tr>
					@Html.DisplayFor(m => article)
				</tr>
			}
		</tbody>
	</table>
</div>